Datos/ClienteWebAspnet/Connected Services/proxyProductosWcf/wcfProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="wcfProductos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58201/wcfProductos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58201/wcfProductos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58201/wcfProductos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidad" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductos_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductos" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductos_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosConStockCero_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConStockCero" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosConStockCero_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConStockCeroResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosDescontinuados_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosDescontinuados" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosDescontinuados_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosDescontinuadosResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosConRiesgoCaducarse_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConRiesgoCaducarse" />
  </wsdl:message>
  <wsdl:message name="IwcfProductos_DevolverTodosLosProductosConRiesgoCaducarse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConRiesgoCaducarseResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfProductos">
    <wsdl:operation name="DevolverTodosLosProductos">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductos" message="tns:IwcfProductos_DevolverTodosLosProductos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosResponse" message="tns:IwcfProductos_DevolverTodosLosProductos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConStockCero">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConStockCero" message="tns:IwcfProductos_DevolverTodosLosProductosConStockCero_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConStockCeroResponse" message="tns:IwcfProductos_DevolverTodosLosProductosConStockCero_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosDescontinuados">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosDescontinuados" message="tns:IwcfProductos_DevolverTodosLosProductosDescontinuados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosDescontinuadosResponse" message="tns:IwcfProductos_DevolverTodosLosProductosDescontinuados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConRiesgoCaducarse">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConRiesgoCaducarse" message="tns:IwcfProductos_DevolverTodosLosProductosConRiesgoCaducarse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConRiesgoCaducarseResponse" message="tns:IwcfProductos_DevolverTodosLosProductosConRiesgoCaducarse_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IwcfProductos" type="tns:IwcfProductos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverTodosLosProductos">
      <soap:operation soapAction="http://tempuri.org/IwcfProductos/DevolverTodosLosProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConStockCero">
      <soap:operation soapAction="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConStockCero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosDescontinuados">
      <soap:operation soapAction="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosDescontinuados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConRiesgoCaducarse">
      <soap:operation soapAction="http://tempuri.org/IwcfProductos/DevolverTodosLosProductosConRiesgoCaducarse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wcfProductos">
    <wsdl:port name="BasicHttpBinding_IwcfProductos" binding="tns:BasicHttpBinding_IwcfProductos">
      <soap:address location="http://localhost:58201/wcfProductos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>