ServicioASMX/ClienteWebServicios/Connected Services/ProxyListaUsuario/WebServiceUsuarios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Listado">
        <s:complexType />
      </s:element>
      <s:element name="ListadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListadoResult" type="tns:ArrayOfUsuario" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUsuario">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Usuario">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cedula" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Nacionalidad" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ListadoSoapIn">
    <wsdl:part name="parameters" element="tns:Listado" />
  </wsdl:message>
  <wsdl:message name="ListadoSoapOut">
    <wsdl:part name="parameters" element="tns:ListadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceUsuariosSoap">
    <wsdl:operation name="Listado">
      <wsdl:input message="tns:ListadoSoapIn" />
      <wsdl:output message="tns:ListadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceUsuariosSoap" type="tns:WebServiceUsuariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listado">
      <soap:operation soapAction="http://tempuri.org/Listado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceUsuariosSoap12" type="tns:WebServiceUsuariosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Listado">
      <soap12:operation soapAction="http://tempuri.org/Listado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceUsuarios">
    <wsdl:port name="WebServiceUsuariosSoap" binding="tns:WebServiceUsuariosSoap">
      <soap:address location="http://localhost:55392/WebServiceUsuarios.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceUsuariosSoap12" binding="tns:WebServiceUsuariosSoap12">
      <soap12:address location="http://localhost:55392/WebServiceUsuarios.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>