Datos/ClienteWebAspnet/Connected Services/ProxyProductos/wsProductos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DevolverTodosLosProductos">
        <s:complexType />
      </s:element>
      <s:element name="DevolverTodosLosProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverTodosLosProductosResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Producto" nillable="true" type="tns:Producto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Producto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Discontinued" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="DevolverTodosLosProductosConStockCero">
        <s:complexType />
      </s:element>
      <s:element name="DevolverTodosLosProductosConStockCeroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverTodosLosProductosConStockCeroResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverTodosLosProductosDescontinuados">
        <s:complexType />
      </s:element>
      <s:element name="DevolverTodosLosProductosDescontinuadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverTodosLosProductosDescontinuadosResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DevolverTodosLosProductosConRiesgoCaducarse">
        <s:complexType />
      </s:element>
      <s:element name="DevolverTodosLosProductosConRiesgoCaducarseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DevolverTodosLosProductosConRiesgoCaducarseResult" type="tns:ArrayOfProducto" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DevolverTodosLosProductosSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductos" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosConStockCeroSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConStockCero" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosConStockCeroSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConStockCeroResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosDescontinuadosSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosDescontinuados" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosDescontinuadosSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosDescontinuadosResponse" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosConRiesgoCaducarseSoapIn">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConRiesgoCaducarse" />
  </wsdl:message>
  <wsdl:message name="DevolverTodosLosProductosConRiesgoCaducarseSoapOut">
    <wsdl:part name="parameters" element="tns:DevolverTodosLosProductosConRiesgoCaducarseResponse" />
  </wsdl:message>
  <wsdl:portType name="wsProductosSoap">
    <wsdl:operation name="DevolverTodosLosProductos">
      <wsdl:input message="tns:DevolverTodosLosProductosSoapIn" />
      <wsdl:output message="tns:DevolverTodosLosProductosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConStockCero">
      <wsdl:input message="tns:DevolverTodosLosProductosConStockCeroSoapIn" />
      <wsdl:output message="tns:DevolverTodosLosProductosConStockCeroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosDescontinuados">
      <wsdl:input message="tns:DevolverTodosLosProductosDescontinuadosSoapIn" />
      <wsdl:output message="tns:DevolverTodosLosProductosDescontinuadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConRiesgoCaducarse">
      <wsdl:input message="tns:DevolverTodosLosProductosConRiesgoCaducarseSoapIn" />
      <wsdl:output message="tns:DevolverTodosLosProductosConRiesgoCaducarseSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsProductosSoap" type="tns:wsProductosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverTodosLosProductos">
      <soap:operation soapAction="http://tempuri.org/DevolverTodosLosProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConStockCero">
      <soap:operation soapAction="http://tempuri.org/DevolverTodosLosProductosConStockCero" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosDescontinuados">
      <soap:operation soapAction="http://tempuri.org/DevolverTodosLosProductosDescontinuados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConRiesgoCaducarse">
      <soap:operation soapAction="http://tempuri.org/DevolverTodosLosProductosConRiesgoCaducarse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsProductosSoap12" type="tns:wsProductosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DevolverTodosLosProductos">
      <soap12:operation soapAction="http://tempuri.org/DevolverTodosLosProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConStockCero">
      <soap12:operation soapAction="http://tempuri.org/DevolverTodosLosProductosConStockCero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosDescontinuados">
      <soap12:operation soapAction="http://tempuri.org/DevolverTodosLosProductosDescontinuados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DevolverTodosLosProductosConRiesgoCaducarse">
      <soap12:operation soapAction="http://tempuri.org/DevolverTodosLosProductosConRiesgoCaducarse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsProductos">
    <wsdl:port name="wsProductosSoap" binding="tns:wsProductosSoap">
      <soap:address location="http://localhost:57791/wsProductos.asmx" />
    </wsdl:port>
    <wsdl:port name="wsProductosSoap12" binding="tns:wsProductosSoap12">
      <soap12:address location="http://localhost:57791/wsProductos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>