Wcf/ClienteWCF/Connected Services/proxyServiciosEjemplos/IServicioEjemplosWfc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57784/IServicioEjemplosWfc.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Saludo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaludoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaludoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Potencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="_base" type="xs:double" />
        <xs:element minOccurs="0" name="_exponente" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PotenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PotenciaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaizCuadrada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RaizCuadradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RaizCuadradaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNumerosPares">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="limite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarNumerosParesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GenerarNumerosParesResult" nillable="true" type="q1:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>