MapsV2/Cliente/Connected Services/ServiceReference1/wcfUbicaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="wcfUbicaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55037/wcfUbicaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55037/wcfUbicaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55037/wcfUbicaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidad" />
      <xsd:import schemaLocation="http://localhost:55037/wcfUbicaciones.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IwcfUbicaciones_DevolverUbicaciones_InputMessage">
    <wsdl:part name="parameters" element="tns:DevolverUbicaciones" />
  </wsdl:message>
  <wsdl:message name="IwcfUbicaciones_DevolverUbicaciones_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevolverUbicacionesResponse" />
  </wsdl:message>
  <wsdl:message name="IwcfUbicaciones_CrearUbicacion_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUbicacion" />
  </wsdl:message>
  <wsdl:message name="IwcfUbicaciones_CrearUbicacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUbicacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IwcfUbicaciones">
    <wsdl:operation name="DevolverUbicaciones">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfUbicaciones/DevolverUbicaciones" message="tns:IwcfUbicaciones_DevolverUbicaciones_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfUbicaciones/DevolverUbicacionesResponse" message="tns:IwcfUbicaciones_DevolverUbicaciones_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrearUbicacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IwcfUbicaciones/CrearUbicacion" message="tns:IwcfUbicaciones_CrearUbicacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IwcfUbicaciones/CrearUbicacionResponse" message="tns:IwcfUbicaciones_CrearUbicacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="wcfUbicaciones" />
</wsdl:definitions>