ServicioASMX/ClienteServicio/Connected Services/ProxyServicioTest1/WebServiceTest1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaludosMatutinos">
        <s:complexType />
      </s:element>
      <s:element name="SaludosMatutinosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaludosMatutinosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarDosNumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="numero1" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="numero2" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SumarDosNumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SumarDosNumerosResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Potencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_base" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="_exponente" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PotenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PotenciaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LanzamientoDado">
        <s:complexType />
      </s:element>
      <s:element name="LanzamientoDadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LanzamientoDadoResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JuegoDado">
        <s:complexType />
      </s:element>
      <s:element name="JuegoDadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JuegoDadoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaludosMatutinosSoapIn">
    <wsdl:part name="parameters" element="tns:SaludosMatutinos" />
  </wsdl:message>
  <wsdl:message name="SaludosMatutinosSoapOut">
    <wsdl:part name="parameters" element="tns:SaludosMatutinosResponse" />
  </wsdl:message>
  <wsdl:message name="SumarDosNumerosSoapIn">
    <wsdl:part name="parameters" element="tns:SumarDosNumeros" />
  </wsdl:message>
  <wsdl:message name="SumarDosNumerosSoapOut">
    <wsdl:part name="parameters" element="tns:SumarDosNumerosResponse" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapIn">
    <wsdl:part name="parameters" element="tns:Potencia" />
  </wsdl:message>
  <wsdl:message name="PotenciaSoapOut">
    <wsdl:part name="parameters" element="tns:PotenciaResponse" />
  </wsdl:message>
  <wsdl:message name="LanzamientoDadoSoapIn">
    <wsdl:part name="parameters" element="tns:LanzamientoDado" />
  </wsdl:message>
  <wsdl:message name="LanzamientoDadoSoapOut">
    <wsdl:part name="parameters" element="tns:LanzamientoDadoResponse" />
  </wsdl:message>
  <wsdl:message name="JuegoDadoSoapIn">
    <wsdl:part name="parameters" element="tns:JuegoDado" />
  </wsdl:message>
  <wsdl:message name="JuegoDadoSoapOut">
    <wsdl:part name="parameters" element="tns:JuegoDadoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTest1Soap">
    <wsdl:operation name="SaludosMatutinos">
      <wsdl:input message="tns:SaludosMatutinosSoapIn" />
      <wsdl:output message="tns:SaludosMatutinosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SumarDosNumeros">
      <wsdl:input message="tns:SumarDosNumerosSoapIn" />
      <wsdl:output message="tns:SumarDosNumerosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <wsdl:input message="tns:PotenciaSoapIn" />
      <wsdl:output message="tns:PotenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LanzamientoDado">
      <wsdl:input message="tns:LanzamientoDadoSoapIn" />
      <wsdl:output message="tns:LanzamientoDadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JuegoDado">
      <wsdl:input message="tns:JuegoDadoSoapIn" />
      <wsdl:output message="tns:JuegoDadoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTest1Soap" type="tns:WebServiceTest1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaludosMatutinos">
      <soap:operation soapAction="http://tempuri.org/SaludosMatutinos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumarDosNumeros">
      <soap:operation soapAction="http://tempuri.org/SumarDosNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanzamientoDado">
      <soap:operation soapAction="http://tempuri.org/LanzamientoDado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JuegoDado">
      <soap:operation soapAction="http://tempuri.org/JuegoDado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTest1Soap12" type="tns:WebServiceTest1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaludosMatutinos">
      <soap12:operation soapAction="http://tempuri.org/SaludosMatutinos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumarDosNumeros">
      <soap12:operation soapAction="http://tempuri.org/SumarDosNumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Potencia">
      <soap12:operation soapAction="http://tempuri.org/Potencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LanzamientoDado">
      <soap12:operation soapAction="http://tempuri.org/LanzamientoDado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JuegoDado">
      <soap12:operation soapAction="http://tempuri.org/JuegoDado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTest1">
    <wsdl:port name="WebServiceTest1Soap" binding="tns:WebServiceTest1Soap">
      <soap:address location="http://localhost:55392/WebServiceTest1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTest1Soap12" binding="tns:WebServiceTest1Soap12">
      <soap12:address location="http://localhost:55392/WebServiceTest1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>